h1 {
  font-size: 175%;
}
p {
  font-size: 110%;
}
li {
  font-size: 110%;
}

/*Needs tidying up */
#button1,
#button2,
#button3,
#button4,
#button5 {
  font-size: 110%;
  /* color: blueviolet; */
}
.button {
  font-size: 110%;
  /* color: blueviolet; */
}
.cityInfo {
  color: blue;
  /*font-weight: bold;*/
  opacity: 1;
}
.countryInfo {
  color: purple;
  /*font-weight: bold;*/
  opacity: 1;
}
.weatherInfo {
  color: blue;
  /*font-weight: bold;*/
  opacity: 1;
}
